<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./style/styles.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>It uses mapbox.com and weatherstack.com API's</p>
        <img class="portrait" src="./img/alpuygur.jpeg">
    </div>
    
    {{>footer}}
</body>

</html>