<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/style/styles.css">
    <title>{{title}}</title>
</head>

<body>
    {{>header}}
    {{errorMessage}}
</body>
<footer>{{>footer}}</footer>

</html>